html, body {
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.text-primary {
  color: #425066;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

blockquote {
    padding-left: 2em;
    border-left: 5px solid #dee2e6;
    font-weight: 300;
}

#sidebar {
    padding-left: 15px;
    z-index: 999;
    transition: all 0.3s;
    color: #50749c;
}

.jump {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    color: #6a6a6a;
}

.jump:active,
.jump:focus,
.jump:hover {
    color: #49c19d;
    text-decoration: none;
}

.handbook .toc-number {
    display: none;
}

.handbook ol.toc,
.handbook .toc ol li {
    list-style-type: none;
    margin-bottom: 0;
}

.handbook a.toc-link {
    color: #50749c;
    text-decoration: none;
}

.handbook a.toc-link:active,
.handbook a.toc-link:focus,
.handbook a.toc-link:hover {
    color: #49c19d;
}

.toc-level-1 > .toc-link .toc-text {
    font-weight: bold;
    color: #49c19d;
}

.switch-page a {
    color: inherit;
}

.switch-page a:active,
.switch-page a:focus,
.switch-page a:hover {
    color: #49c19d;
    text-decoration: none;
}

.handbook .toc-level-2 {
    font-weight: normal;
}

.handbook ol.toc {
    padding-inline-start: 0px;
}
.handbook ol.toc-child {
    padding-inline-start: 10px;
}

.post {
}

.post-header {
    border-bottom: 2px solid #54e5ae;
    margin-bottom: 2em;
}

.post-summary h1 {
    font-weight: bold;
    color: #ff8c16;
    text-align: start;
    padding-bottom: 1em;
    font-family: Ubuntu;
}

.post-summary p {
    display: contents;
}

.post-body {
    margin: auto;
    font-size: 1.1em;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4 {
    text-align: start;
    font-weight: bold;
    padding: 2em 0 0;
    padding-bottom: 0.5em;
    margin: -1em 0 0;
}
.post-body h2 {
    color: #ef8b28;
}
.post-body h3 {
    color: #a1d6e1;
}

.post-summary {
    text-align: start;
}

.post-image {
    position: relative;
}

.post-image img {
    max-height: 500px;
    max-width: 90%;
}

.post-image-credit {
    position: absolute;
    bottom: 0px;
    font-size: 8px;
    right: 0;
}

.post-image-credit a {
    color: grey;
}

.post-share.btn-group a {
    color: #49c19d;
    padding: 5px;
    font-size: 0.7em;
}

.post-share.btn-group a:hover {
    color: inherit;
}

.post-metadata.row {
   width: 100%;
   font-size: 1em;
}

.post-author {
}

.post-author .author-title {
    font-weight: bold;
    padding-right: 0.65em;
}

.post-author .author-name,
.post-author .authored-date {
    font-weight: bold;
    color: #adadad;
}
.post-author .author-name {
    padding-right: 2em;
}

.post-share .caption {
    font-weight: bold;
    line-height: 2em;
    padding-right: 0.5em;
}

.divider {
    width: 100%;
    border-top: 2px solid #54e5ae;
    padding-top: 5px;
    margin-top: 2em;
}

.banner {
    min-height: 40vh;
    padding: 20vh 0 10vh 0;
    background: #163551;
    color: white;
    padding-bottom: 1em;
    position: relative !important;
    overflow: hidden;
    transform: translateZ(0);
    backface-visibility: hidden;
    font-weight: 300;
}

.banner.not-in-view .firefly,
.banner.not-in-view .firefly::before,
.banner.not-in-view .firefly::after {
    animation-play-state: paused;
}

.banner .firefly,
.banner .firefly::before,
.banner .firefly::after {
    transform: translateZ(0);
}

.banner h1 {
    color: #7bb9c8;
}

.banner .command {
    background: #0000005e;
    line-height: 3em;
    font-family: monospace;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.command {
    background: #383d41;
    line-height: 3em;
    font-family: monospace;
    font-size: 1em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.banner .links {
    padding-top: 30px;
}

.banner .links .btn {
    background: none;
    border: none;
    padding: 0.375rem 1rem;
}

.banner .links .btn a {
    color: inherit;
}

.banner .links .btn:hover,
.banner .links .btn:focus,
.banner .links .btn:active {
    color: #949495;
    border: none;
    outline: none !important;
    box-shadow: none;
}

.banner .command .prompt {
    color: #a6a6a6;
    padding-right: 10px;
}

.command .prompt {
    color: #00ff7f;
    padding-right: 10px;
}

h1,h2,h3,h4 {
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 1.8em;
}

figure.highlight table {
    font-size: 1.3em;
}

.content {
    min-height: calc(100vh - 80px);
}

.text-success {
    color: #77bd87 !important;
}

.text-muted {
    color: #b3b3b3 !important;
}

.nav-menu {
    text-align: center;
}

.navbar {
    background: white;
    font-weight: 300;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        padding: 0 10vw;
    }
}
.navbar-toggler-icon {
    width: inherit;
    height: inherit;
    color: #495057;
}

.navbar-brand {
    padding-bottom: 0.6em;
    padding-top: 0;
}

.nav-link {
    font-size: 1.1em;
    padding-left: 1.5rem !important;
    color: inherit !important;
}

.nav-link:hover > i,
.nav-link:focus > i,
.nav-link:active > i {
    color: #77bd87;
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    color: #77bd87;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
}

/**
 * container
 */

.container-narrow {
  margin: 0 auto;
  max-width:970px;
}

.container-narrow > footer {
  margin-top: 20px;
  text-align: center;
}
.container-narrow > footer p {
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

a.header-anchor {
  color: inherit;
}
/**
 * navbar
 */
.navbar-default {
  background-color: white;
  border-bottom:  1px solig grey;
}

.navbar-brand > img {
  height: 32px;
}

/**
 * other
 */
body {
  position: relative;
  color: #2c3e50;
}

/**
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
