html, body {
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.text-primary {
    color: #425066;
}

.no-padding {
    padding: 0 !important;
}

.codeblock-image figure.highlight {
   padding-top: 1em;
   padding-bottom: 1em;
}

.codeblock-image.dark figure.highlight {
   background: #495057;
}

.codeblock-image.dark figure.highlight pre ,
.codeblock-image.dark figure.highlight code {
    color: white;
    background: #495057;
}

.btn.codeblock-copy {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.5em;
    border: none;
    outline: none !important;
}

.btn.codeblock-copy:focus,
.btn.codeblock-copy:active {
    color: #02a257;
    border: none;
    outline: none !important;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
    background-color: #16354f;
    border-color: #16354f;
}

footer {
    background: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .btn {
    color: inherit;
}

blockquote {
    padding-left: 2em;
    border-left: 5px solid #0bcfff;
    font-weight: 300;
}

#sidebar {
    padding-left: 15px;
    z-index: 999;
    transition: all 0.3s;
    color: #50749c;
    padding-bottom: 50px;
}

@media (min-width: 992px) {
    #sidebar {
        position: sticky;
        top: 0px;
        max-height: calc(100vh);
        overflow-y: scroll;
    }
 }

#sidebar::-webkit-scrollbar {
  display: none;
}

.jump {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    color: orange !important;
    font-size: 2.5em;
    cursor: pointer;
}

.jump:active,
.jump:focus,
.jump:hover {
    color: #49c19d;
    text-decoration: none;
}

.handbook .toc-number {
    display: inline;
    font-size: 0.8em;
}

.handbook ol.toc,
.handbook .toc ol li {
    list-style-type: none;
    margin-bottom: 0;
}

.handbook a.toc-link {
    color: #50749c;
    text-decoration: none;
}

.handbook a.toc-link:active,
.handbook a.toc-link:focus,
.handbook a.toc-link:hover {
    color: #49c19d;
}

.toc-level-1 > .toc-link .toc-text {
    font-weight: bold;
    color: #49c19d;
}

.handbook a.toc-link.active .toc-text {
    font-weight: bolder;
    color: #dc3545;
}

.handbook h1,h2,h3,h4,h5,h6 {
    cursor: pointer;
}

.handbook h1:hover::after,
.handbook h2:hover::after,
.handbook h3:hover::after,
.handbook h4:hover::after,
.handbook h5:hover::after,
.handbook h6:hover::after {
    content: " ยง";
    color:lightgrey;
}


.switch-page a {
    color: inherit;
}

.switch-page a:active,
.switch-page a:focus,
.switch-page a:hover {
    color: #49c19d;
    text-decoration: none;
}

.handbook .toc-level-2 {
    font-weight: normal;
}

.handbook ol.toc {
    padding-inline-start: 0px;
}
.handbook ol.toc-child {
    padding-inline-start: 10px;
}

.post {
}

.post-header {
    padding-left: 15px;
    padding-right: 15px;
}

.blog .post-header {
    border-bottom: 2px solid #54e5ae;
    padding-bottom: 2em;
    margin-bottom: 4em;
}

.post-summary a:hover {
    text-decoration: none;
}

.post-summary h1 {
    font-weight: bold;
    color: #2c3e50;
    text-align: start;
    padding-bottom: 1em;
    font-family: Ubuntu;
}

.post-summary h1:hover {
    color: #ff8c16;
}

.post-summary p {
    display: contents;
}

.post-footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

.post-body {
    margin: auto;
    font-size: 1.2em;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4 {
    text-align: start;
    font-weight: bold;
    padding: 2em 0 0;
    padding-bottom: 0.5em;
    margin: -1em 0 0;
}
.post-body h2 {
    color: #ef8b28;
}
.post-body h3 {
    color: #a1d6e1;
}

.post-summary {
    text-align: start;
}

.post-image {
    position: relative;
}

.post-image img {
    max-height: 500px;
    max-width: 90%;
}

.post-image-credit {
    position: absolute;
    bottom: 0px;
    font-size: 8px;
    right: 0;
}

.post-image-credit a {
    color: grey;
}

.post-share.btn-group a {
    color: #49c19d;
    padding: 5px;
    font-size: 0.7em;
}

.post-share.btn-group a:hover {
    color: inherit;
}

.post-metadata.row {
   width: 100%;
   font-size: 1em;
}

.post-author {
}

.post-author .author-title {
    font-weight: bold;
    padding-right: 0.65em;
}

.post-author .author-name,
.post-author .authored-date {
    font-weight: bold;
    color: #adadad;
}
.post-author .author-name {
    padding-right: 2em;
}

.post-share .caption {
    font-weight: bold;
    line-height: 2em;
    padding-right: 0.5em;
}

.divider {
    width: 100%;
    border-top: 2px solid #54e5ae;
    padding-top: 5px;
    margin-top: 2em;
}

.banner {
    min-height: 40vh;
    padding: 20vh 0 10vh 0;
    background: black;
    color: white;
    padding-bottom: 1em;
    position: relative !important;
    overflow: hidden;
    transform: translateZ(0);
    backface-visibility: hidden;
    font-weight: 300;
}

.banner.not-in-view .firefly,
.banner.not-in-view .firefly::before,
.banner.not-in-view .firefly::after {
    animation-play-state: paused;
}

.banner .firefly,
.banner .firefly::before,
.banner .firefly::after {
    transform: translateZ(0);
}

.banner h1 {
    color: white;
    font-weight: 400;
}

.banner .command {
    background: black;
    line-height: 3em;
    font-family: monospace;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.users-banner h2 {
    font-size: 1.6em;
}

.users-banner h5 {
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}


.users-banner .row {
    padding-top: 0px;
    padding-bottom: 0px;
}

.users-banner .altinity {
    padding: 5px;
}

.users-banner strong {
    color: orange;
}

.users-banner .blockquote {
    font-size: .8em;
    border: none;
    padding-left: 0;
}

.command {
    background: #383d41;
    line-height: 3em;
    font-family: monospace;
    font-size: 0.8em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: inline-block;
}

.links {
    padding-top: 30px;
}

.links .btn {
    background: none;
    border: none;
    padding: 0.375rem 1rem;
}

.links .btn a {
    color: inherit;
}

.links .btn:hover,
.links .btn:focus,
.links .btn:active {
    color: #949495;
    border: none;
    outline: none !important;
    box-shadow: none;
}

.banner .command .prompt {
    color: #a6a6a6;
    padding-right: 10px;
}

.command .prompt {
    color: #00ff7f;
    padding-right: 10px;
}

h1,h2,h3,h4 {
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 1.8em;
}

figure.highlight {
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid #2c3e506b;
    padding: 10px;
}

figure.highlight table {
    font-size: 1.3em;
    overflow: auto;
    display: block;
}

figure.highlight table::-webkit-scrollbar {
    display: none;
}

code, pre, figure.highlight {
    background-color: white;
}

.content {
    min-height: 100vh;
}

.text-success {
    color: #54e5ae !important;
}

.text-muted {
    color: #b3b3b3 !important;
}

.nav-menu .fas {
    color: #54e5ae;
}

.nav-menu {
    text-align: center;
}

.navbar {
    background: white;
    font-weight: 300;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        padding: 0 10vw;
    }
}
.navbar-toggler-icon {
    width: inherit;
    height: inherit;
    color: #495057;
}

.navbar-brand {
    padding-bottom: 0.6em;
    padding-top: 0;
}

.nav-link {
    font-size: 1.1em;
    padding-left: 1.5rem !important;
    color: #25283d;
    font-weight: bold;
}

.nav-link:hover > i,
.nav-link:focus > i,
.nav-link:active > i {
    color: #77bd87;
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    color: #77bd87;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
}

/**
 * container
 */

.container-narrow {
  margin: 0 auto;
  max-width:970px;
}

.container-narrow > footer {
  margin-top: 20px;
  text-align: center;
}
.container-narrow > footer p {
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

a.header-anchor {
  color: inherit;
}
/**
 * navbar
 */
.navbar-default {
  background-color: white;
  border-bottom:  1px solig grey;
}

.navbar-brand > img {
  height: 52px;
}

/**
 * other
 */
body {
  position: relative;
  color: #25283d;
  font-size: 18px;
}

/**
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
