<div class="row no-gutters">
    <div class="col-12 text-center">
        <img src="/img/favicon-square.png"</img>
    </div>
    <div class="col-12 text-center">
        Copyright 2020 Katteli Inc.
    </div>
    <div class="col-12 text-center">
        <span class="text-nowrap">All rights reserved.</span>
    </div>
</div>
