<div class="row no-gutters">
    <div class="col-12 text-center">
        <div class="links">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">
                    <a href="https://pypi.org/project/testflows/">
                        <span class="fab fa-2x fa-python"></span>
                    </a>
                </button>
                <button type="button" class="btn btn-secondary">
                    <a href="https://t.me/testflows">
                        <span class="fab fa-2x fa-telegram-plane"></span>
                    </a>
                </button>
                <button type="button" class="btn btn-secondary">
                    <a href="https://github.com/testflows">
                        <span class="fab fa-2x fa-github"></span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <img src="/img/favicon-square.png"</img>
    </div>
    <div class="col-12 text-center">
        Copyright 2020-2022 Katteli Inc.
    </div>
    <div class="col-12 text-center">
        <span class="text-nowrap">All rights reserved.</span>
    </div>
    <div class="col-12 text-center no-padding links">
        <a class="btn" href="/credits.html">Credits</a>
    </div>
</div>
