<div class="row no-gutters">
    <div class="col-12 text-center">
        <img src="/img/favicon-square.png"</img> Copyright 2019, TestFlows.
        <span class="text-nowrap">All rights reserved.</span>
    </div>
</div>
