<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="<%- config.root %>">
        <img src="<%- config.root %>img/logo.png" alt="TestFlows">
    </a>
    <div class="collapse navbar-collapse nav-menu">
        <ul class="nav navbar-nav">
        </ul>
    </div>
</nav>
<div class="clearfix"></div>
